* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.contacts {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  height: 40px; }
  .contacts .contacts__icon {
    margin-right: 15px; }
  .contacts .contacts__text {
    font-size: 12px;
    font-weight: bold;
    color: #fff; }
  .contacts .contacts__item {
    display: flex;
    align-items: center; }

.header {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; }
  .header .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 45%;
    box-sizing: border-box;
    border: 2px solid #F4D504;
    border-radius: 8px; }
  .header .options {
    display: flex;
    align-items: center;
    margin-left: 8px;
    background-color: #D5D9E5;
    border-radius: 8px; }
  .header .options-text {
    padding-left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #fff; }
  .header .search-button {
    padding: 15px 25px;
    background-color: #F4D504; }
  .header .icon-text {
    font-size: 12px;
    font-weight: normal; }
  .header .header__icon {
    text-align: center; }

.navbar {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #D5D9E5;
  border-bottom: 1px solid #D5D9E5;
  height: 65px;
  font-size: 14px;
  font-weight: bold; }

.navbar-link {
  text-decoration: none;
  color: #000; }

.navbar-button {
  background-color: #EC766B;
  border-radius: 8px;
  padding: 12px 15px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; }

.catalog {
  display: flex;
  align-items: center;
  background-color: #D5D9E5;
  border-radius: 8px; }

.catalog-text {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding-left: 8px; }

.image-links {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1088px;
  height: auto; }
  .image-links .sm-image-links {
    display: flex;
    flex-direction: column; }

.sm-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1088px;
  margin: 50px auto; }
  .sm-cards .sm-card {
    display: flex;
    align-items: center;
    border: 1px solid #D5D9E5;
    border-radius: 8px;
    height: 80px;
    width: 260px; }
  .sm-cards .outfit {
    color: #EC766B;
    font-size: 16px;
    font-weight: bold; }
  .sm-cards .sm-card-image {
    margin-left: 15px; }
  .sm-cards .sm-card-text {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
    line-height: 1.2rem; }

.container {
  max-width: 1088px;
  margin: 50px auto; }
  .container .headline {
    display: flex;
    justify-content: space-between; }
  .container .headline-text {
    font-size: 24px;
    font-weight: bold;
    color: #55BBF8; }
  .container .md-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 25px; }
  .container .md-card {
    line-height: 2.2rem;
    text-align: center; }
  .container .md-card-image {
    margin-bottom: 10px; }
  .container .md-card-item-name {
    font-size: 18px;
    font-weight: bold; }
  .container .md-card-item-price {
    font-size: 16px;
    font-weight: bold;
    color: #EC766B; }
  .container .md-card-old-price {
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
    color: #333333; }
  .container .md-card-item-button {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #F4D504;
    border-radius: 8px;
    border: none; }

.announce {
  display: flex;
  background-color: #F4D504;
  height: 180px;
  align-items: center;
  justify-content: space-around; }
  .announce .announce-text {
    font-family: 'Roboto Slab', serif;
    line-height: 2.6rem; }
  .announce .sm-announce-text {
    font-size: 24px;
    font-weight: normal; }
  .announce .md-announce-text {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase; }
  .announce .mailing {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px; }
    .announce .mailing .subscribe {
      display: flex;
      align-items: center; }
    .announce .mailing .input {
      width: 350px;
      padding: 20px 15px;
      border: none;
      border-radius: 8px 0 0 8px;
      font-size: 16px;
      font-weight: normal; }
    .announce .mailing .subscribe-button {
      padding: 20px 15px;
      border: none;
      border-radius: 0 8px 8px 0;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #55BBF8; }

.articles {
  display: flex;
  flex-direction: column;
  background-color: #D5D9E5; }
  .articles h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20%;
    margin-bottom: 50px; }
  .articles .lg-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4D504;
    max-width: 1043px;
    height: 250px;
    box-sizing: border-box;
    margin-bottom: 50px; }
  .articles .lg-card-text {
    max-width: 535px;
    margin: 0 120px; }
  .articles .lg-card-name {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 14px; }
  .articles .lg-card-discription {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 14px; }
  .articles .lg-card-data {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    max-width: max-content;
    border-top: 1px solid #333333;
    padding-top: 10px; }
  .articles .rightside {
    margin-left: auto; }

.pre-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333333;
  height: 240px; }
  .pre-footer .list {
    color: #fff;
    line-height: 1.4rem; }
  .pre-footer .list-headline {
    font-size: 14px;
    font-weight: bold; }
  .pre-footer .list-item {
    font-size: 12px;
    font-weight: normal; }

.footer {
  background-color: #000; }
  .footer .footer-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: normal; }
