.contacts {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    height: 40px;
    .contacts__icon {
        margin-right: 15px;
    }
    .contacts__text{
        font-size: 12px;
        font-weight: bold;
        color: #fff;
    }
    .contacts__item {
        display: flex;
        align-items: center;
    }
}